#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#computer-choices {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#result {
  margin-top: 10px;
  border: 4px solid black;
  border-radius: 12px;
  padding: 1rem;
  background-color: white;
}

#player-choices {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.chosen {
  border: 10px solid #646cff;
  border-radius: 12px;
}